@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter Regular";
  src: url("/public/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter Medium";
  src: url("/public/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter Bold";
  src: url("/public/fonts/Inter-Bold.ttf") format("truetype");
}

body {
  @apply bg-[#192734];
}

* {
  @apply transition-all duration-300 ease-in-out;
  font-family: "Inter Regular", sans-serif;
}
/* Full height for the chat area */
.scrollable-chat {
  @apply flex-grow overflow-y-auto p-4 bg-[#192734];
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #dadce0 transparent; /* Firefox */
  height: calc(
    100vh - 4rem
  ); /* Adjust height to full viewport minus any fixed elements */
}

.scrollable-chat::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollable-chat::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.scrollable-chat::-webkit-scrollbar-thumb {
  background-color: #1a1a1a; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  border: 2px solid transparent; /* Space around the thumb */
  background-clip: content-box; /* Ensures the border is transparent */
}
