@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#192734];
  font-family: "Inter", sans-serif;
}

* {
  @apply transition-all duration-300 ease-in-out;
  font-family: "Inter", sans-serif;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%); /* Start above the viewport */
  }
  to {
    transform: translateY(0); /* End at its original position */
  }
}

.animate-slide-down {
  animation: slide-down 0.5s forwards; /* Apply the slide-down animation */
}
/* Full height for the chat area */
.scrollable-chat {
  @apply flex-grow overflow-y-auto p-4;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #dadce0 transparent; /* Firefox */
  height: calc(
    100vh - 4rem
  ); /* Adjust height to full viewport minus any fixed elements */
}

.scrollable-chat::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollable-chat::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.scrollable-chat::-webkit-scrollbar-thumb {
  background-color: #1a1a1a; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  border: 2px solid transparent; /* Space around the thumb */
  background-clip: content-box; /* Ensures the border is transparent */
}
/* Custom scrollbar styles */
.scrollbar-custom {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #dadce0 transparent; /* Firefox */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #1a1a1a; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  border: 2px solid transparent; /* Space around the thumb */
  background-clip: content-box; /* Ensures the border is transparent */
}

/* Prevent manual resizing of the textarea */
.resize-none {
  resize: none;
}
